@model IEnumerable<Department>
@{
    ViewData["Title"] = "Index";
    // string? ViewDataMessage = ViewData["Message"] as string; // Must be cast to string
    // string? ViewBagMessage = ViewBag.Message; // No need to cast
}

<h1>All Department</h1>

<br />
<br />


@* <div class="alert alert-danger">
    <p>
        @ViewData["Message"]
    </p>
</div> *@

@* <div class="alert alert-danger">
    <p>
        @ViewBagMessage
    </p>
</div> *@

@if(!string.IsNullOrEmpty(TempData["Message"]as string))
{
    <div class="alert alert-success">
        <p>
            @TempData["Message"]
        </p>
    </div>
}

<a asp-action="Create" asp-controller="Department" class="btn btn-primary">Create Department</a>

<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>DateOfCreation</th>
                <th>Datails</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
          @foreach(var item in Model)
          {
              <tr>
                  <td>@item.Code</td>
                  <td>@item.Name</td>
                  <td>@item.CreateAt.ToString("dd/MM/yyyy")</td>
                  <partial name="ThreeButtonPartialView" model="@item.Id.ToString()" />
              </tr>
            }
        </tbody>
   </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h4>No Departments found :(</h4>
    </div>
}




